@import
	url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap')
	;

body {
	background-image: url(../assets/fundo-vertical.png);
	background-size: cover;
	color: #f4f4f4;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	font-size: 15px;
	padding-bottom: 5px;
	text-align: left;
}
